asttokens==3.0.0
attrs==24.3.0
cachetools==5.5.0
caveclient==7.4.3
certifi==2024.12.14
charset-normalizer==3.4.1
decorator==5.1.1
exceptiongroup==1.2.2
executing==2.1.0
idna==3.10
ipython==8.31.0
jedi==0.19.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
matplotlib-inline==0.1.7
networkx==3.4.2
numpy==2.2.1
packaging==24.2
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
prompt_toolkit==3.0.48
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==18.1.0
Pygments==2.19.1
python-dateutil==2.9.0.post0
python-louvain==0.16
pytz==2024.2
PyYAML==6.0.2
referencing==0.35.1
requests==2.32.3
rpds-py==0.22.3
six==1.17.0
stack-data==0.6.3
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
wcwidth==0.2.13
